<h3>How Do Smart Devices Work?</h3>

<div [ngSwitch]="stage">
	
	<div *ngSwitchCase="1">
		<p>Have you ever wondered what actually happens when you talk to a device like Amazon Alexa? The video illustrates how the device processes your questions to come up with an answer.</p>

		<iframe height="349" src="https://player.cnbc.com/p/gZWlPC/cnbc_global?playertype=synd&amp;byGuid=3000625364" width="560"></iframe>

		<p>Alexa uses complex algorithms are used to search the web and databases for answers. Alexa sends requests to different data sources to answer your questions. This is similar to loading a web page where you might load pictures from different resources than text.</p>
	</div>
	
	<div *ngSwitchCase="2">
		<p>It’s actually not all that different for other smart devices. Consider the following example from a real smart bathroom scale. The maps shows data send from the scales in red, and data requested by the scales in blue. The scale was sending daily weight information to a server in New York, logging information (e.g. when the scales were used) to a server in Colorado, was requesting weather data from a server in California, and asked for software updates from a server in Idaho. Sometimes this communication might also be bi-directional (e.g. sending data to check for software updates, then receiving data to download them).</p>
    <img src="https://martin-kraemer.net/aretha/img/smart-scale.png" style="width:100%" />
  </div>

	<div *ngSwitchCase="3">
		<p>Great, all done! You've completed all of the content for the study. Please don't forget to continue checking the prototype to see what your devices are doing, as well as to add and remove firewall rules.</p>
	</div>

</div>

<div class="progress">
	<button mat-raised-button class="buttonleft" (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button mat-raised-button class="buttonright" (click)="next()">Next</button>
</div>
