<div class="root">
    <!-- basic configuration: full grid -->
    <app-refinebar [impacts]="impacts" [geodata]="geodata" [impactChanges]="impactChanges" class='gridleft' [devices]='devices'></app-refinebar>

    <div *ngIf='!mode' class="gridright">
        <app-geomap [impacts]="impacts" [geodata]="geodata" [impactChanges]="impactChanges" [showLegend]='false'></app-geomap>
        <app-geobar class="geobar" [impacts]="impacts" [geodata]="geodata" [impactChanges]="impactChanges" [showLegend]='false'></app-geobar>
    </div>
</div>
