<h3>COnnection Frequency</h3>

<div [ngSwitch]="stage">
	<div *ngSwitchCase="1">
		<p>Have you ever had a strange or unpleasant experience with tracking and advertising online?</p>

		<mat-form-field>
			<textarea matInput [(ngModel)]="preResponse"></textarea>
		</mat-form-field>
	</div>
	
	<p *ngSwitchCase="2">
	It’s easy to assume that smart devices only connect to the internet when we use them, but this is rarely the case. Devices like your phone remain constantly connected in order to notify you of new messages, and many other devices communicate monitoring or tracking information back to their manufacturers at regular intervals.
	</p>
	
	<div *ngSwitchCase="3">
		<p>Do you think about online tracking and advertising any differently now?</p>

		<mat-form-field>
			<textarea matInput [(ngModel)]="postResponse"></textarea>
		</mat-form-field>
	</div>

</div>

<div class="progress">
	<button mat-raised-button class="buttonleft" (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button mat-raised-button *ngIf="stage < max || done; else greybutton" class="buttonright" (click)="next()">Next</button>
	<ng-template #greybutton>
		<button mat-raised-button disabled class="buttonright">Next</button>
	</ng-template>
</div>
