
.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }

  svg { 
      background:#fff;
  }   
  svg path.stream {
      fill:none;
      stroke: #000;
      stroke-width: 1px;
      shape-rendering: crispEdges;
  }   

  