<div class="root">
	<div class="gridleft">
		<app-timeseries 
			class='zoomed' 
			[byDestination]='true' 
			[showLegend]="true" 
			[impacts]="zoomed_impacts" 
			[geodata]="geodata" 
			[devices]='devices' 
			[showtimeselector]="false"
			(legendClicked)="selectCompany($event)"></app-timeseries>
		<app-timeseries 
			class='overview' 
			[showLegend]='true' 
			[impacts]="impacts" 
			[geodata]="geodata" 
			[impactChanges]="impactChanges" 
			[devices]='devices' 
			[showtimeselector]="true" 
			(selectedTimeChanged)="timeSelected($event)"
			(legendClicked)="selectDevice($event)"></app-timeseries>
	</div>
	<div class="gridright">
		<app-name-device></app-name-device>
	</div>
	<app-company-info-dialog *ngIf="showCompanyInfo" [company]='showCompanyInfo' (close)='closeCompanyInfo()'></app-company-info-dialog>
</div>
