<div class="root">
	<div class="gridleft">
		<app-timeseries [byDestination]='true' [showLegend]="true" [impacts]="zoomed_impacts" [geodata]="geodata" class='zoomed' [devices]='devices' [showtimeselector]="false"></app-timeseries>
		<app-timeseries class='overview' [showLegend]='true' [impacts]="impacts" [geodata]="geodata" [impactChanges]="impactChanges" [devices]='devices' [showtimeselector]="true" (selectedTimeChanged)="timeSelected($event)"></app-timeseries>
	</div>
	<div class="gridright">
		<app-name-device></app-name-device>
		<app-company-info></app-company-info>
	</div>
</div>
