/*th, td {
	border-bottom: 1px solid #ddd;
}
*/
tr:nth-child(even) {
	background-color: #f2f2f2;
}

h3, p, table {
	padding: 10px 20px 10px 20px;
	width: 500px;
}

h3, p {
	text-align: justify;
}

#actionH4 {
	padding-left: 16px;
}

#redact-left {
	float:left;
	padding-right: 20px;
}

.redact-right {
	float:left;
	padding-left: 20px;
}
