<div class="usage-table">
    <div class="adder search-zone">
        <!-- <ng2-completer [(ngModel)]="appToAdd" [datasource]="completer" [minSearchLength]="1" placeholder="Add app"></ng2-completer> -->
        <app-autocomplete class="search-bar" [(selected)]='selectedApp' (selectedChange)='appSelected(selectedApp)' [omit]='_selectedapps'></app-autocomplete>
        <!--<button (click)="addApp()" [disabled]='!selectedApp'>Add</button>-->
        <button class="usage-button" (click)="clearState()" [disabled]='usages.length == 0'>Clear all</button>
    </div>
    <div class="top">
        <div *ngFor="let appusage of usages">
            <div class="row">
                <div class="left" (click)="appFocused(appusage.appid)" (mouseenter)="_onHover(appusage.appid)" (mouseleave)="_onHover()">
                    <img *ngIf="getAppIcon(appusage.appid)" class='appicon' [src]="getAppIcon(appusage.appid)" alt="^_^">
                    <div *ngIf="!getAppIcon(appusage.appid)" class="noicon"></div>
                    <a class="title">{{ getAppName(appusage.appid).split(' ').slice(0,6).join(' ') }}</a>
                    <br><a class="dev"> by {{ getAppDev(appusage.appid )}}</a>
                </div>
                <div class="hhmminput">
                    <input type="number" (ngModelChange)="appValueChanged(appusage)" [(ngModel)]="appusage.hh" maxlength="2">hrs<br>
                    <input type="number" (ngModelChange)="appValueChanged(appusage)" [(ngModel)]="appusage.mm" maxlength="2">mins
                </div>
                <input class="middle" type="range" (ngModelChange)="appValueChanged(appusage)" [(ngModel)]="appusage.mins" [min]="minUsage" [max]="maxUsage" [step]="stepUsage">
                <div class="right">
                    <button class="clearButton usage-button" (click)="delete(appusage)">Uninstall</button>
                    <a [hidden]='!hasAlternatives(appusage.appid)' [routerLink]="['/alternatives/', appusage.appid.trim()]"><button class="usage-button">Substitute</button></a>
                </div>
            </div>
        </div>
    </div>
</div>