<h3>Data Inference and Combination</h3>

<div [ngSwitch]="stage">
	<p *ngSwitchCase="1">
	There are many sources of data collection in modern life - your computer and smartphone generate data about what you browse online and what you do with smartphone apps. While different sites and apps collect this data, it is often sold and shared as valuable information. In this way it gets combined with other data collected about you, as well as data from other people.
	</p>

	<p *ngSwitchCase="2">
	On their own, it might seem like these pieces of data are harmless. By itself, knowing that you buy coffee at the same time every weekend doesn’t give away much, but combined information from other people might tell someone who your friends are or that you practice a certain religion (e.g. visits to a cafe near a place of worship at the same times each week).
	</p>
	
	<p *ngSwitchCase="3">
	To illustrate the scale of data aggregation, Google receives data from around 90% of Android apps, and Facebook around 50%
	</p>
	
	<div *ngSwitchCase="4">
		<mat-radio-group>
			<mat-radio-button value="1" (click)="answer(1)">All information about me is freely available on the internet</mat-radio-button>
			<div class="question-divider"></div>
			<mat-radio-button value="2" (click)="answer(2)">European data protection laws prevent companies from combining data about me from multiple sources</mat-radio-button>
			<div class="question-divider"></div>
			<mat-radio-button value="3" (click)="answer(3)">Many companies combine data collected about me online and use this to infer things about me</mat-radio-button>
			<div class="question-divider"></div>
		</mat-radio-group>
		<p *ngIf="tipText">{{this.tipText}}</p>
		<div class="question-divider"></div>
	</div>
</div>

<div class="progress">
	<button mat-raised-button class="buttonleft" (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button mat-raised-button *ngIf="stage < max || done; else greybutton" class="buttonright" (click)="next()">Next</button>
	<ng-template #greybutton>
		<button mat-raised-button disabled class="buttonright">Next</button>
	</ng-template>
</div>
