<div class="root">
    <!-- basic configuration: full grid -->
    <app-refinebar [impacts]="impacts" [impactChanges]="impactChanges" class='gridleft' [devices]='devices'></app-refinebar>

    <div *ngIf='!mode' class="gridright">
        <!-- <app-refinecat [showLegend]='false'></app-refinecat> -->
        <app-geomap [impacts]="impacts" [impactChanges]="impactChanges" [appusage]="usage" [showLegend]='false'></app-geomap>
        <app-geobar [impacts]="impacts" [impactChanges]="impactChanges" [appusage]="usage" [showLegend]='false'></app-geobar>
    </div>
</div>