<h3>Encryption</h3>

<div [ngSwitch]="stage">
	<p *ngSwitchCase="1">
	For modern smart devices, using encryption prevents others from reading it by encoding it before sending it across the internet (this is what the padlock in your browser indicates when visiting https websites).
	</p>

	<p *ngSwitchCase="2">
	Despite this, it is still possible to know where that data is going - this is actually how the study software can determine where your devices are sending data, even though it’s encrypted. Often, encrypted connections can also still disclose other information, such as when you are at home, as well as the types of devices you are using, even though the contents of those connections are unreadable
	</p>
</div>


	<div class="progress">
	<button class="buttonleft" mat-button (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button class="buttonright" mat-button (click)="next()">Next</button>
</div>
