[api]
;port the api will run on
port=4201
;url of the api, insert the value of port using %(port)s
url=http://localhost:%(port)s/api

[ipdata]
;API key used to retreive device manufacturers from mac address
key=key_goes_here

[loop]
;whether to automatically name new deices with a random fruit and number (e.g. Orange#123)
autogen-device-names=True
;frequency at which the processing loop is run in seconds (float)
interval=1
;whether packets will be grouped into bursts
burstify=False
;whether content prediction will be run on bursts
predict=False
;text file containing known tracking urls
trackers=/config/trackers.txt

[capture]
;interval to capture packets on
interface=eth0
;frequency at which new packets are commited to the database in seconds (float)
interval=5
