<div class="root">
	<div [ngSwitch]="content" class="gridleft">
    	<app-content-encryption *ngSwitchCase="'encryption'" [stage]="stage"></app-content-encryption>
    	<app-content-tracking *ngSwitchCase="'tracking'" [stage]="stage"></app-content-tracking>
    	<app-content-inference *ngSwitchCase="'inference'" [stage]="stage"></app-content-inference>
    	<app-content-breach *ngSwitchCase="'breach'" [stage]="stage"></app-content-breach>
    	<p *ngSwitchDefault>
        	You're all up to date! Check back soon for more content.
    	</p>
	</div>
	<div class="gridright">
		<app-geomap [impacts]="impacts" [geodata]="geodata" [showLegend]='false'></app-geomap>
		<app-example [text]="text"></app-example>
	</div>
</div>
