<h3>The World Wide Web: accessing websites</h3>

<div [ngSwitch]="stage">
	
	<div *ngSwitchCase="1">
		<p> Note: this content is more technical than those of the last few days. As such, it's not required as part of the study - if you wish, you can just skip through the pages and continue with the next content in a few days' time. We've included it here because we think you might find it interesting.</p>
	</div>

	<div *ngSwitchCase="2">
		<p>What would you say was the difference between the Internet and the World Wide Web? (200 characters)</p>

		<mat-form-field>
			<textarea matInput maxlength="200" #input [(ngModel)]="preResponse"></textarea>
			<mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
		</mat-form-field>
	</div>
	
	<div *ngSwitchCase="3">
		<p>The internet is a global network of computers. The World Wide Web is the part of the internet that can be accessed through websites. Websites consist of webpages which allow you to see information.</p>

		<p>Websites are accessed using a web browser. A browser is a program designed to display the information held on a website. Every website has an address at which it can be found, a bit like a house address.</p>

		<p>A website’s address is known as its URL. A website can be visited by typing its URL into a web browser. Each address contains the prefix ‘http:’ which tells the computer to use the hyper text transfer protocol for communicating with the website. The browser then connects to the internet, finds the website at its address and downloads the information stored there onto our computer for us to view.</p>

		<p>Websites and webpages are joined together using hyperlinks. Clicking on a hyperlink takes us to another site or page.</p>
	</div>

	<div *ngSwitchCase="4">
		<iframe height="315" src="https://www.youtube.com/embed/kBXQZMmiA4s?start=29&amp;end=280" width="560"></iframe>
	</div>

	<div *ngSwitchCase="5">
		<p>Was anything in the text or video new to you? (200 characters)</p>

		<mat-form-field>
			<textarea matInput maxlength="200" #input [(ngModel)]="postResponse"></textarea>
			<mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
		</mat-form-field>
	</div>

</div>

<div class="progress">
	<button mat-raised-button class="buttonleft" (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button mat-raised-button class="buttonright" (click)="next()">Next</button>
</div>
