.venv/
.vscode/

tests/testData/*
tests/testPredictEcho.py
!tests/testData/AlexaTime1

__pycache__/
*.pyc

*node_modules*

config/config.cfg
config/log.txt
service/daemon.sh
service/iotrefine.service

.idea/

log/