<div class="refinebar main">
    <div class="mode-options" [hidden]='!showModes'>
        <!-- <a [ngClass]="{active: timeSpan=='d'}" (click)='timeSpan="d"'> Yesterday </a>
        <a [ngClass]="{active: timeSpan=='w'}" (click)='timeSpan="w"'> Last Week </a>
        <a [ngClass]="{active: timeSpan=='m'}" (click)='timeSpan="m"'> Last Month </a> -->
        <span *ngIf="_companyHovering"> {{ _companyHovering.id }} </span>
    </div>
    <svg #thing></svg>
</div>
<div>
	(+{{this.popCount}})
	<button mat-button (click)="popCompany()">&#60;-</button>
	<button mat-button (click)="pushCompany()">-&#62;</button>
</div>
