<div class="container">
    <div class="left">
        <div class="header">
            Your App
        </div>
        <table class="comparison">
            <tr>
                <td>
                    <div class="apptitle">
                        <img class="icon" *ngIf="appInfo(original_app?.target.appid)?.icon" [src]="appInfo(original_app?.target.appid)?.icon">
                        <div class="noicon" *ngIf="!appInfo(original_app?.target.appid)?.icon"></div>
                        <div class="title">{{ appInfo(original_app?.target.appid)?.storeinfo.title }}</div>
                        <div class="publisher">by {{ appInfo(original_app?.target.appid)?.developer?.name }}</div>
                        <div class="summary">
                            <!-- Icons From http://www.iconarchive.com/show/colorful-long-shadow-icons-by-graphicloads.html (Free to use) -->
                            <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Identity-icon.png">{{ getHostCount(original_app?.target.appid)}}</div>
                            <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{ getRating(original_app?.target.appid)}}</div>
                            <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Arrow-download-3-icon.png">{{ getDownloads(original_app?.target.appid)}}</div>
                        </div>
                    </div>
                    <app-refinebar [appusage]='original_app?.all' [showXAxis]='false' [showTypesLegend]='false' [showModes]='false' [highlightApp]='appInfo(original_app?.target.appid)' [showLegend]='false'></app-refinebar>
                    <div class="appdesc">
                        <div class="summary">{{ appInfo(original_app?.target.appid)?.storeinfo.summary }}</div>
                        <div class="desc">{{ appInfo(original_app?.target.appid)?.storeinfo.description?.split(' ').slice(0,50).join(' ') }}</div>
                        <p></p>

                        <app-company-list [app]='original_app?.target.appid'></app-company-list>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="right">
        <div class="header">
            Alternatives
        </div>
        <table class="comparison">
            <tr *ngFor='let sub of other_substitutions' class="alt-row">
                <td class="top" (click)="replaceTarget(sub)">
                    <table>
                        <tr>
                            <td>
                                <div class="sub-label">Click to Swap</div>
                                <div class="apptitle">
                                    <img class="icon" *ngIf="appInfo(sub?.target.appid)?.icon" [src]="appInfo(sub?.target.appid)?.icon">
                                    <div class="noicon" *ngIf="!appInfo(sub?.target.appid)?.icon"></div>

                                    <div class="title">{{ appInfo(sub.target.appid).storeinfo.title }}</div>
                                    <div class="publisher">by {{ appInfo(sub.target.appid).developer?.name }}</div>
                                    <div class="summary">
                                        <!-- Icons From http://www.iconarchive.com/show/colorful-long-shadow-icons-by-graphicloads.html (Free to use) -->
                                        <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Identity-icon.png">{{ getHostCount(sub.target.appid)}}</div>
                                        <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{ getRating(sub.target.appid)}}</div>
                                        <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Arrow-download-3-icon.png">{{ getDownloads(sub.target.appid)}}</div>
                                    </div>
                                </div>
                                <app-refinebar [appusage]='sub.all' [showXAxis]='false' [showTypesLegend]='false' [showModes]='false' [highlightApp]='appInfo(sub.target.appid)' [showLegend]='false'></app-refinebar>

                            </td>
                            <td>
                                <div class="appdesc">
                                    <app-company-list [app]='sub.target.appid'></app-company-list>
                                </div>
                            </td>
                            <!-- <td class="appswap">
                                <button (click)="replaceTarget(sub)">Swap app</button>
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- 
    <div class="comparison" *ngFor='let sub of substitutions'>
        <div class="title">
            <img [src]="appInfo(sub.target.appid).icon"> {{ appInfo(sub.target.appid).storeinfo.title }}
        </div>
        <app-refinebar [appusage]='sub.all' [showModes]='false' [highlightApp]='sub.target.appid' [showLegend]='false'></app-refinebar>
        <app-company-list [app]='sub.target.appid'></app-company-list>
    </div>
    -->
</div>