<h3>What is the Internet?</h3>

<div [ngSwitch]="stage">
	
	<div *ngSwitchCase="1">
		<p>How would you say the internet works? (200 characters)</p>

		<mat-form-field>
			<textarea matInput maxlength="200" #input [(ngModel)]="preResponse"></textarea>
			<mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
		</mat-form-field>
	</div>
	
	<div *ngSwitchCase="2">
		<p>The internet has revolutionised the way we work and play. It allows us to communicate, to share data and to seek information in a matter of seconds. All this is possible through the use of computers and networks.</p>

		<p>The internet is a global network of computers. All computer devices (including PCs, laptops, games consoles and smartphones) that are connected to the internet form part of this network. Added together, there are billions of computers connected to the internet, all able to communicate with each other.</p>

		<p>Today, the internet is a massive part of our daily lives.</p>
	</div>

	<div *ngSwitchCase="3">
		<iframe height="315" src="https://www.youtube.com/embed/Dxcc6ycZ73M?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;cc_load_policy=1&amp;iv_load_policy=3&amp;theme=light&amp;fs=0&amp;color=white" width="560"></iframe>
	</div>

	<div *ngSwitchCase="4">
		<p>After viewing the content, would you say you learnt anything new about the Internet? (200 characters)</p>

		<mat-form-field>
			<textarea matInput maxlength="200" #input [(ngModel)]="postResponse"></textarea>
			<mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
		</mat-form-field>
	</div>

  <div *ngSwitchCase="5">
    <p>Great, all done! Check back soon for more.</p>
  </div>

</div>

<div class="progress">
	<button mat-raised-button class="buttonleft" (click)="prev()">Previous</button>
	{{stage}} / {{max}}
	<button mat-raised-button class="buttonright" (click)="next()">Next</button>
</div>
